@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/BG.svg");
  background-size: cover;
  background-repeat: repeat-x; /* Repeat the background horizontally */
  animation: moveClouds 50s linear infinite;
}

.transition-up {
  transition: margin-top 0.5s ease-in-out;
}

@keyframes moveClouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
